* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fullwidth {
    height: 100%;
}

/* TOP BAR */
.container-fullwidth.top-bar {
    height: 73px; /* da rimuovere ? */
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

#top-bar {
    line-height: 73px;
}

.sx-group,
.sx-group div {
    float: left;
}

.sx-group {
    margin: 25.5px 0;
}
.sx-group a {
    color: #33475b;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.language {
    padding-right: 20px;
    border-right: 2px solid #cbd6e2;
}

.language::before {
    content: url('../img/language-icon.png');
    vertical-align: middle;
    padding-right: 5px;
}

.contact-us {
    padding-left: 20px;
}

.dx-group {
    float: right;
    line-height: 73px;
}

.dx-group a{
    text-decoration: none;
    font-size: 14px;
}

.fa-search {
    margin-right: 15px;
    color: #00a4bd;
}

#login-button {
    margin: 0 10px;
    padding: 8px 12px;
    color: #ff7a59;
    background-color: #fff;
    border: 1px solid #ff7a59;
    border-radius: 3px;
}

.orange-button {
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #ff7a59;
    color: #fff;
}
/* FINE TOP BAR */


/* MAIN BAR */
.container-fullwidth.main-bar {
    height: 82px;
}

#main-bar {

}

#logo {
    padding: 24.5px 0;
    float: left;
}

#navbar, ul {
    float: right;
}

li {
    /* display: inline-block; */
}
